/* this is a way to override the css defaults in bootstrap */
/* in this case we are overriding the color for bg-light */
.bg-secondary{
     background-color: aquamarine!important;
}
.bg-dark{
     background-color: yellow !important;
}
.bg-warning{
     background-color: orange !important;
}
.bg-danger{
     background-color: red !important;
}